@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  cursor: default;
}

body {
  font: normal 20px 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: regular;
  color: #0f141e;
  background-color: #f1f1f1;
  margin: 15px;
  padding: 15px;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.info {
  display: flex;
  margin-bottom: 25px;
}

.avatar {
  max-width: 100%;
  width: 300px;
  height: 300px;
  border-radius: 10%;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  margin: auto;
}

.info-text {
  margin-left: 30px;
}

.info-text p {
  color: #86898f;
  margin: 5px;
}

.info-text p em {
  text-decoration: underline;
  font-weight: bold;
}

.info-text a {
  color: #0f141e;
  text-decoration: none;
  font-weight: bold;
}

.info-text a:hover {
  color: #00a508;
  text-decoration: underline;
  cursor: pointer;
}

.info-text a:visited {
  color: grey;
}

.info-text a:active {
  color: darkblue;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 2px solid #000;
}

ol li {
  border-left: 10px solid #000;
  margin-bottom: 10px;
  padding: 0 15px;
  transition: all 0.8s;
}

ol li:hover {
  border-left: 25px solid #000;
  padding-left: 10px;
}

ol li:last-child {
  margin-bottom: 0;
}

.table {
  margin: auto;
  border-collapse: collapse;
  border: 3px solid grey;
}

tbody tr td {
  transition: all 0.8s;
}

tbody tr td:hover {
  background-color: #ffd951;
}

th,
td {
  border: 1px solid grey;
  padding: 10px 15px;
}

th:nth-child(odd),
td:nth-child(even) {
  /* color: #0011ff; */
  font-weight: bold;
}

th {
  border-bottom: 3px solid gray;
}

.card {
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 25px;
}

.card h2 {
  margin-top: 0px;
}

.bg-yellow {
  background-color: #fffacd;
}

.bg-red {
  background-color: #ff6969;
}

.bg-blue {
  background-color: aqua;
}

.skill-table {
  font-weight: bold;
  border-color: white;
  border-radius: 15px;
  /* background-color: #ddd; */
  text-align: center;
}

.skill-table td {
  border: 3px solid white;
}

.btn {
  font-family: inherit;
  background-color: #0f141e;
  border: none;
  padding: 15px 20px;
  margin: 20px auto;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.8s;
}

.btn:hover {
  padding-right: 25px;
  padding-left: 25px;
  background-color: #86898f;
}

.form h2 {
  text-align: center;
}

.form-row {
  display: flex;
  margin-bottom: 20px;
}

.form-row .form-group {
  margin-right: 20px;
  width: 50%;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

@media (max-width: 750px) {
  .skill-table{
    border-color: aqua;
    max-width: 100%;
  }

  .skill-table tbody tr td{
    display: inline-block;
    margin: 1px 1px;
  }
}

@media (max-width: 650px) {
  .avatar {
    display: block;
    margin: auto;
  }

  .info {
    display: block;
  }

  .info-text {
    text-align: center;
  }

  .form-row {
    display: block;
  }

  .form-row .form-group {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
}